@import "../base/mixins";

.form {
  margin: 2rem;

  &__header {
    font-size: 1.6rem;
  }

  &__add {
    @include primary__btn;
    position: absolute;
    right: -4rem;
  }
}

form {
  position: relative;
}

.name__container,
.email__container,
.phone__container {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin: 1rem 0;
  position: relative;
}

.name__container input,
.email__container input,
.phone__container input {
  padding: 1rem 2rem;
  width: 15rem;
  @include basic__input;
  &::placeholder {
    @include placeholder__font;
  }
}
