// @font-face {
//   font-family: "happy", sans-serif;
//   src: url("../font/TFF/happy-times-NG_regular_master_web.ttf")
//     format("truetype");
// }
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
html {
  --text: #615551;
  --container: #f9f5f3;
  --list: #ffffff;
  --form__container: #f9f5f3;
  --primary: #f38e82;
  --secondary: #fbdb89;
  --ternary: #f48982;
  --card__drop__shadow: rgba(#000, 10%);
}

.dark {
  --text: #fff;
  --container: #272727;
  --list: #212121;
  --primary: #f38e82;
  --secondary: #fbdb89;
  --ternary: #f48982;
  --card__drop__shadow: rgba(#fff, 10%);
}
