@mixin basic__container {
  background-color: var(--container);
  border-radius: 10px;
}

@mixin basic__border {
  border: 1px solid var(--input__border);
  border-radius: 12px;
}

@mixin placeholder__font {
  font-family: "Work Sans", sans-serif;
  font-size: 1.1rem;
}

@mixin primary__font {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  color: var(--text);
}

@mixin primary__btn {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  background-color: var(--primary);
  color: white;
  &:hover {
    transform: translateY(-4px);
  }
}

@mixin basic__input {
  font-family: inherit;
  @include basic__border;
  @include primary__font;
  outline: none;
  margin-top: 0.2rem;
}
