@import "./base/base";
@import "./base/reset";
@import "./base/mixins";

@import "./components/header";
@import "./components/form";
@import "./components/contact";

body {
  background-image: linear-gradient(
    to right bottom,
    var(--secondary),
    var(--ternary)
  );
  height: 100vh;
  color: var(--text);
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 6rem;
}
.main {
  width: 60rem;
  border-radius: 10px;
  overflow: hidden;
  // border: 1px solid black;

  &__container {
    display: flex;
  }
  &__column:first-child {
    background-color: var(--list);
    width: 60%;
    height: 35rem;
  }
  &__column:last-child {
    background-color: var(--container);
    width: 40%;
    height: 35rem;
  }
}
